.qualification__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.qualification__container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  margin: 0 auto auto;
}
.qualification__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}
.qualification__head {
  display: flex;
  gap: 1rem;
  justify-content: center;
  color: var(--color-primary);
}
.qualification__icon {
  font-size: 1.5rem;
}
.education__content {
  margin-top: 2rem;
}
.education__detail {
  margin-bottom: 2rem;
}
.education__icon {
  margin-top: 6px;
  font-size: 1.5rem;
  color: var(--color-primary);
}
.education__1 {
  display: flex;
  gap: 1rem;
}
.education__content h3,
h4 {
  margin-left: 2rem;
}
.date {
  display: flex;
  gap: 1rem;
}
.education__date {
  font-size: 1rem;
  color: var(--color-primary);
  margin-top: 6px;
}

.education__1 h2 {
  color: var(--color-white);
}
/*=================MEDIA QUERIES (MEDIUM DEVICES)=================*/
@media screen and (max-width: 1024px) {
  .qualification__container {
    grid-template-columns: 1fr;
  }
  .qualification__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  .qualification__content {
    padding: 1rem;
  }
}
/*=================MEDIA QUERIES (SMALL DEVICES)=================*/
@media screen and (max-width: 600px) {
  .qualification__container {
    gap: 1rem;
  }
  .qualification__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
